body{
    background-color: rgb(189, 189, 250);
}

.container{
    display: block;
    text-align: center;
}

.title{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.btn-vrt{
    background-color: rgb(23, 97, 23);
    border: none;
    height: 30px;
    width: 200px;
    margin-top: 40px;
    border-radius: 16px;
    color: white;
    font-family:monospace;
    font-size: 18px;
}

.btn-rg{
    background-color: rgb(153, 54, 54);
    border: none;
    height: 30px;
    width: 400px;
    margin-top: 40px;
    border-radius: 16px;
    color: white;
    font-family:monospace;
    font-size: 18px;

    
}


.input{
    margin-bottom: 20px;
    margin-top: 20px;
    height: 40px;
    width: 200px;
    border-radius: 16px;
    border: none;
    text-align: center;
}




















